@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Sobre a aplicação</h1>
    <span>Projeto de lista de jogos</span>
</div>